.bg-light {
    background-color: black !important;
}
.navbar-brand{
    color: white !important;
    font-weight: bold;
    font-size: 30px;
}
a.nav-link {
    color: rgba(238, 201, 34, 0.801) !important;
    font-size: 20px;
}
a.nav-link:hover {
    background-color: white !important;
    border-radius: 5px;
    color: black !important;
}
.navbar-nav{
    margin: auto;
}
.nav-item {
    margin-left: 40px;
}
.nav-button{
    /* margin-right: 40px; */
    padding: 7px 20px;
    font-size: 20px;
}
span.navbar-toggler-icon{
    color: gainsboro;
}
.navbar-toggler{
    background-color: rgb(250, 250, 250);
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 9999999;
}
.img-bg{
    opacity: 0.9;
    filter: brightness(50%);
}
.carousel-caption {
    position: absolute;
    top: 25%;
    bottom: 10%;
    left: 10%;
}
.read-more{
    padding:10px 40px;
    color:white;
    background-color: transparent;
    outline: none;
    border-color: white;        
}
.header-3 {
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
}

.yellow-box{
    background-color: orange;
    height: 550px;
    margin-top: 5rem;
    padding-top: 25px;
}
.black-box {
    background-color: rgb(29, 28, 28);
    min-height: 1150px;
    padding: 90px;
}
.input-container{
    height: 60px;
}
.text-container{
    height: 160px;
}
.black-button{
     background-color: black;
     color: white;
     padding: 10px 80px;
     margin-top: 1.5rem;
}
body {
    overflow-x: hidden;
}
.stats-img{
   background-image: url(../images/stats.jpg);
   min-height: 350px;
}
.box-circle{
    height: 130px;
    width: 130px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 20px;
    margin: auto;
}
.number{
    color: rgb(238, 159, 13);
    text-align: center;
}
.text{
    color: white;
    text-align: center;
}
